.container {
    padding: 0 7rem;
    box-sizing: border-box;
}

.container h2 {
    font-size: 3rem;
    margin: 0;
}

.subheader {
    font-size: 1.3rem;
    color: #9f9fcd;
    margin-top: 0;
}

.category_container {
    margin-bottom: 1rem;
}

.category_header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.category_header h3 {
    margin: 1rem 0;
}

.feature_panels {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.feature_panel {
    width: 100%;
    min-height: 7rem;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.03));
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 4rem;
    }

    .container h2 {
        font-size: 2.5rem;
    }

    .subheader {
        font-size: 1.1rem;
    }

    .feature_panels {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.7rem;
    }

    .feature_panel {
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }

    .category_header {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 1.5rem;
        padding-bottom: 3rem;
        text-align: center;
    }

    .container h2 {
        font-size: 2.2rem;
    }

    .subheader {
        font-size: 1.1rem;
    }

    .feature_panels {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .feature_panel {
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
    }

    .category_header {
        text-align: left;
        font-size: 1.3rem;
    }
}