.nav {
    padding: 1rem 2rem;
    background-color: #0a0124;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.right_side_container {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    color: #9f9fcd;
}

.sign_in_button {
    color: #ffffff;
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.03));
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: 0.8rem 2.5rem;
}

.sign_in_button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}


.logo_container {
    align-items: center;
    font-size: 2rem;
    display: flex;
    gap: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .nav {
        padding: 0.75rem 1.5rem;
    }

    .logo_container {
        font-size: 1.5rem;
    }
    
    .right_side_container {
        gap: 1.5rem;
    }

    .link {
        display: none;
    }

    .sign_in_button {
        padding: 0.6rem 1.5rem;
        font-size: 1rem;
    }
}